pkgbase = recway
    pkgdesc = A frontend for wf-recorder screen recorder
    pkgver = 0.1.0
    pkgrel = 1
    url = https://github.com/nabiko02/recway
    arch = x86_64
    license = MIT
    makedepends = rust
    makedepends = cargo
    depends = gtk4
    depends = libadwaita
    depends = wf-recorder
    source = recway-0.1.0.tar.gz::https://github.com/nabiko02/recway/archive/v0.1.0.tar.gz
    sha256sums = SKIP

pkgname = recway
